<div class="flex navbar px-2 h-6rem shadow-3">
  <div class="flex justify-content-center align-items-center ml-3">
    <button  [routerLink]="'/'">
      <img
        class="h-4rem cursor-pointer"
        src="logo.png"
        alt="Curativa"
      />
    </button>
  </div>
  <div class="flex flex-column justify-content-center align-items-end w-full ml-3 gap-2">
    <div>
      <span class="flex align-items-center gap-2">
        <label> OLÁ, {{ nome ? nome : ("*****" ) | uppercase }} </label>
        <button class="cursor-pointer" [routerLink]="'/'">
        </button>
        <p-button
          (onClick)="logout()"
          label="Sair"
          severity="danger"
          icon="pi pi-sign-out"
          size="small"
        />
      </span>
    </div>
  </div>
</div>
